# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# DorkMaster Data & Logs
logs/*.log
data/*.json
data/*.db
data/export_dorks.json

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
